@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form asp-antiforgery="false" method="post">
        <input type="text" name="name" />
        <br />
        <textarea name="comment"></textarea>
        <br />
        <input type="submit" value="send comment"/>
    </form>

    <h1>
        Comments
    </h1>

    <!--For stored XSS attack-->
    @if(ViewBag.comments != null)
    {
        foreach (var item in ViewBag.comments as string[])
        {
            <span>@Html.Raw(item)</span>
            <hr/>
        }
    }

    <strong>@ViewBag.name</strong>
    <hr />
    <span>@Html.Raw(ViewBag.comment)</span>
</body>
</html>